<head>
    <title>CaseLogs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="$label.home.page.title">
    <meta name="author" content="$label.home.author">
    <base href="/$contextPath/">

    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link href="case-logger-web/css/bootstrap.css" rel="stylesheet">
    <link href="case-logger-web/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="case-logger-web/js/jquery-min.js"></script>
    <script src="case-logger-web/js/bootstrap.js"></script>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="caselogs/all">All CaseLogs</a>
            <a class="brand" href="">Home</a>
        </div>
    </div>
</div>
