<OpenRosaResponse xmlns="http://openrosa.org/http/response">
    <message nature="$status">$message</message>
#if( $errors.size() > 0 )
    <errors>
#foreach( $code in $errors.keySet() )
        <error>
            <code>$code</code>
            <message>$errors.get($code)</message>
        </error>
#end
    </errors>
#end
</OpenRosaResponse>
