<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:applicationContext-Diagnostics-Common.xml"/>

    <bean id="dbInstance" class="org.ektorp.impl.StdCouchDbInstance">
        <constructor-arg>
            <bean id="httpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>
        </constructor-arg>
    </bean>

</beans>
