<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>

    <context:annotation-config/>

    <context:component-scan base-package="org.motechproject.diagnostics"/>

    <import resource="classpath:applicationPlatformServerAPI.xml"/>

    <bean id="springBatchDiagnosticsHttpClient" class="org.apache.commons.httpclient.HttpClient">
        <property name="state" ref="springBatchDiagnosticsHttpState"/>
    </bean>

    <bean id="springBatchDiagnosticsHttpState" class="org.motechproject.diagnostics.model.BatchHttpState">
        <property name="credentials" ref="springBatchDiagnosticsCredentials"/>
    </bean>

    <bean id="springBatchDiagnosticsCredentials" class="org.apache.commons.httpclient.UsernamePasswordCredentials">
        <constructor-arg value="${spring.batch.username}"/>
        <constructor-arg value="${spring.batch.password}"/>
    </bean>

    <bean id="springBatchDiagnosticsHttpClientFactory" class="org.springframework.http.client.CommonsClientHttpRequestFactory">
        <constructor-arg ref="springBatchDiagnosticsHttpClient"/>
    </bean>
</beans>
