
#foreach ($diagnosticsResponse in $diagnosticsResponses )
!--------------------------------------! $diagnosticsResponse.name !--------------------------------------!

Status : $diagnosticsResponse.result.status
Message : $diagnosticsResponse.result.message

#end