#macro( print, $result , $namePrefix )
        #if( $result.value.class.simpleName == "DiagnosticsResult" )
            #print($result.value , $result.name, $namePrefix $result.name)
        #else
            $namePrefix $result.name $result.value
        #end

#end
#foreach( $diagnosticResponse in $diagnosticsResponses )
    #print( $diagnosticResponse , "" ) #if ( $foreach.hasNext ) , #end
#end

